body {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.container {
    display: table-cell;
    vertical-align: middle;
    flex-direction: column;
    gap: 10px;
    background-color: red;
    height: 500px;
}

.buttons {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    display: grid;
    grid-template-columns: 30px 30px 30px 30px;
    gap: 10px;
}

.display {
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-weight: 900;
    font-size: 20px;
    background-color: rgb(180, 179, 179);
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}