body {
    background-color: rgb(241, 241, 241);
    display:flex;
    justify-content: center;
}

.container {
    width: 435px;
    height: 550px;
    background-color: rgb(170, 170, 170);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    border-radius: 20px;
    border: 2px solid black;
}

.buttons {
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    border: 2px solid black;
    border-radius: 20px;
    background-color: black;
    gap: 1px;
}

.display-screen {
    color: rgb(0, 0, 0);
    font-weight: 900;
    font-size: 50px;
    background-color: rgb(223, 223, 223);
    width: 400px;
    height: 100px;
    margin-bottom: -2px;
    display: flex;
    justify-content: end;
    align-items: center;
    border: 2px solid black;
    border-radius: 20px;
}

.display {
   font-family: Inter,Helvetica Neue,Helvetica,Arial,sans-serif;
   padding: 10px;
}

button {
    font-size: 22px;
    font-weight: 900;
    font-family: Inter,Helvetica Neue,Helvetica,Arial,sans-serif;
}

#zero {
    grid-column: span 2;
    border-bottom-left-radius: 20px;
}

.number {
    background-color: rgb(253, 114, 114);
    border-color:rgb(253, 114, 114);
}

.decimal {
    background-color: rgb(253, 114, 114);
    border-color:rgb(253, 114, 114);
}

.clear,
.backspace,
.negative {
    background-color: rgb(252, 24, 24);
    border-color:rgb(252, 24, 24);
}

.operation,
.equals {
    background-color: rgb(112, 112, 255);
    border-color: rgb(112, 112, 255);
}

.clear {
    border-top-left-radius: 20px;
}

#divide {
    border-top-right-radius: 20px;
}

.equals {
    border-bottom-right-radius: 20px;
}

h1 {
    font-size: 40px;
    font-family: Inter,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.toggle-button {
    background-color: rgb(159, 159, 255);
    border-style: 1px solid black;
}